version: "3"
services:
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: postgresdev
      POSTGRES_USER: postgresdev
      POSTGRES_DB: portfolio
    container_name: postgres
    networks:
      - con-network
  nextjs13:
    image: nextjs13:1.0.4
    environment:
      DATABASE_URL: postgres://postgresdev:postgresdev@db:5432/portfolio?schema=public
      BASE_API_URL: http://localhost:3000
    ports:
      - "3000:3000"
    depends_on:
      - db
    container_name: nextjs13
    networks:
      - con-network
networks:
  con-network:
    driver: bridge
