.Specialty {
  width: 100vw;
  height: 100vh;
  margin-bottom: 200px;

  display: flex;
  flex-direction: column;

  .specialtyGlowText {
    padding-top: 8%;
    font-family: var(--font-neon);
    font-size: 1.5rem;
    margin-left: 15vw;
    color: #fadeff;
    text-shadow: 0 0 10px #e135ff, 0 0 20px #e135ff, 0 0 30px #e135ff;
  }

  .container {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;

    .specialtyBox {
      height: 400px;
      width: 280px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: transparent;
      cursor: pointer;

      .specialtyTitle {
        font-size: 1.2rem;
        text-align: center;
        width: 266px;
        // font-family: antic !important;
        font-family: var(--font-neon);
        color: #a2d2ff;
        text-shadow: 0 0 10px #5283ff, 0 0 20px #5283ff, 0 0 30px #5283ff;
        margin-bottom: 20px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
