.Intro {
  width: 100vw;
  height: 100vh;
}

.welcomeText {
  font-size: 4vw;
  margin-top: 10vw;
}

.container {
  display: flex;
  flex-direction: row;
  height: 20rem;
  min-width: 30rem;
  align-items: center;
  justify-content: space-around;
}

.infoContainer {
  display: flex;
  height: 100%;
  width: 14rem;
  margin-top: 20vw;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border: white 1px solid;
}

.infoText {
  text-align: center;
  font-size: 1rem;
}
