@import url("https://fonts.googleapis.com/css2?family=Antic&display=swap");

.Intro {
  width: 100vw;
  height: 95vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .textContainer {
    margin: 5vw 0 0 0;

    .introName {
      font-size: 5vw;
      width: 100%;
      text-align: center;
      padding-right: 250px;
      font-family: antic !important;
      color: #a2d2ff;
      text-shadow: 0 0 10px #5283ff, 0 0 20px #5283ff, 0 0 30px #5283ff;
    }

    .introTextContainer {
      display: flex;
      margin-top: 30px;

      .introTextLeft {
        font-size: 1rem;
        margin-right: 30px;
        text-align: right;
        width: 200px;
      }
      .introTextRight {
        font-size: 2rem;
        width: 350px;
      }
    }

    .introTextBottomContainer {
      margin-top: 40px;
      width: 600px;
      .introTextBottom {
        font-size: 2vw;
        .introTextBottomGlow {
          font-family: antic;
          color: #ff9b9b;
          text-shadow: 0 0 10px #ff5353, 0 0 20px #ff5353, 0 0 30px #ff5353;
          // cursor: pointer;
        }
      }
    }
  }
}

// @media only screen and (max-width: 600px) {
//   .Intro {
//     height: auto;
//   }
//   .introTextContainer {
//     flex-direction: column;
//   }
// }
