.Main {
  position: relative;

  .logo {
    position: absolute;
  }

  .icons {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
