.Speciality {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .specialityGlowText {
    padding-top: 8%;
    font-family: var(--font-neon);
    font-size: 1.5rem;
    margin-left: 15vw;
    color: #fadeff;
    text-shadow: 0 0 10px #e135ff, 0 0 20px #e135ff, 0 0 30px #e135ff;
  }

  .container {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    .specialityBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .specialityTitle {
        font-size: 1.2rem;
        text-align: center;
        width: 260px;
        // font-family: antic !important;
        color: #a2d2ff;
        text-shadow: 0 0 10px #5283ff, 0 0 20px #5283ff, 0 0 30px #5283ff;
        margin-bottom: 20px;
      }
    }
  }
}
