.Logo {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  margin: 20px 0 0 20px;
  animation: logoAppearAni 1s forwards;
  animation-delay: 2s;
  z-index: 10000;
  cursor: pointer !important;
}

@keyframes logoAppearAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
