.Logo {
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px 0 0 20px;
  z-index: 10000;
  cursor: pointer !important;
}

.LogoAppear {
  @extend .Logo;
  animation: logoAppearAni 1s forwards;
}
.LogoDisappear {
  @extend .Logo;
  animation: logoDisappearAni 1s forwards;
}

@keyframes logoAppearAni {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes logoDisappearAni {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}
