.Contact {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .contactGlowText {
    font-family: var(--font-neon);
    padding-top: 8%;
    font-size: 1.5rem;
    margin-left: 15vw;
    color: #ffc7da;
    text-shadow: 0 0 10px #49ffa7, 0 0 20px #ff4986, 0 0 30px #ff4986;
  }

  .container {
    display: flex;
    justify-content: center;
    gap: 5vw;

    margin-top: 10vw;
    height: 80%;

    .textContainer {
      width: 30vw;

      .line {
        border-bottom: #ffffff 1px solid;
        margin: 20px auto 20px auto;
      }
      .contactLink {
        .linkGlow {
          text-decoration: none;
          font-family: var(--font-neon);
          font-size: 1.5rem;
          color: #faff5b;
          text-shadow: 0 0 10px #f8ff26, 0 0 20px #f8ff26;
          &:hover {
            color: #feffe2;
            text-shadow: 0 0 10px #fcffa7, 0 0 20px #fcffa7, 0 0 30px #fcffa7,
              0 0 40px #fcffa7;
          }
          &:active {
            color: #faff5b;
            text-shadow: 0 0 10px #f8ff26, 0 0 20px #f8ff26;
          }
        }
      }
    }

    .formContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30vw;

      .name,
      .email,
      .emailBody {
        width: 200px !important;
        padding: 4px;
        caret-color: #ffffff;
        font-family: var(--font-mono);
        outline: none;
        resize: none;
        overflow-y: auto;
        border-radius: 4px;
        border-style: none;
        background: none;
        color: white;

        &:focus {
          box-shadow: 0 0px 1px white inset, 0 0px 1px white;
        }
      }
      .emailBody {
        height: 100px;
      }

      .submitBtn {
        font-family: var(--font-mono);
        font-size: 1.2rem;
        margin-top: 10px;
        width: 80px;
        height: 40px;
        color: #7cf8ff;
        cursor: pointer;
        background: none;
        border-style: none;
        border-radius: 4px;
        box-shadow: 0 0 10px #2ef5ff, 0 0 5px #2ef5ff inset;
        text-shadow: 0 0 10px #2ef5ff, 0 0 20px #2ef5ff, 0 0 30px #2ef5ff;
        &:hover {
          color: #bff9ff;
          text-shadow: 0 0 10px #2ef5ff, 0 0 20px #2ef5ff, 0 0 30px #2ef5ff,
            0 0 40px #2ef5ff, 0 0 50px #2ef5ff, 0 0 60px #2ef5ff;
        }
        &:active {
          text-shadow: 0 0 10px #2ef5ff, 0 0 20px #2ef5ff, 0 0 30px #2ef5ff;
        }
      }

      .submitBtn:disabled {
        cursor: auto;
        box-shadow: none;
        border: 1px solid var(--light-off-color);
        color: var(--light-off-color);
        text-shadow: none !important;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .textContainer {
    width: 100%;
  }
}
