.Modal {
  position: absolute;
  width: 100%;
  height: 100%;

  .modalOnAni {
    @extend .modalContainer;
    animation: modalOnAni 0.2s forwards;
  }
  .modalOffAni {
    @extend .modalContainer;
    animation: modalOffAni 0.2s forwards;
  }

  .modalContainer {
    position: fixed;
    opacity: 0;
    width: 50%;
    height: 70%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    border: 1px #202020 solid;
    box-shadow: rgba(0, 0, 0, 0.7) 0 0 0 100vw;
    z-index: 1000;
    padding: 30px;
    background: #141414;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      .title {
        color: #70b7f1;
        font-family: var(--font-neon);
        text-shadow: 0 0 10px #4ea6ef, 0 0 20px #4ea6ef;
      }
    }
    .bodyContainer {
      margin-top: 20px;
      height: 85%;
      overflow-y: scroll;

      display: flex;
      flex-direction: column;
      gap: 30px;
      .bodyBox {
        .bodyTitle {
          margin-bottom: 30px;
        }
        .bodyTextContainer {
          padding-left: 30px;
          .bodyText {
            color: rgb(173, 173, 173);
            margin-bottom: 20px;
            display: flex;
            .dot {
              margin-right: 10px;
              filter: drop-shadow(0 0 5px #ffffff);
            }
            // justify-content: center;
          }
        }
      }
    }
  }
}

@keyframes modalOnAni {
  0% {
    opacity: 0;
    width: 20%;
    height: 30%;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 50%;
    height: 70%;
  }
}

@keyframes modalOffAni {
  0% {
    opacity: 1;
    width: 50%;
    height: 70%;
  }
  30% {
    color: transparent;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    width: 20%;
    height: 30%;
  }
}

@media only screen and (max-width: 600px) {
  .modalContainer {
    width: 70% !important;
    height: 70% !important;
  }
}
