// font
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.Home {
  height: 100%;
  width: 100%;
  display: inline-block;

  .vidContainer {
    height: 100%;
    .video {
      height: 100%;
    }
  }

  .textDiv {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: white;
    mix-blend-mode: multiply;

    .textTop {
      font-family: anton !important;
      font-size: 20vh;
      font-weight: 900;
      animation-name: textAni;
      animation-direction: normal;
      animation-fill-mode: forwards;
      animation-duration: 7s;
    }

    .textBottom {
      font-family: anton !important;
      font-size: 20vh;
      font-weight: 900;
      animation-name: textAni;
      animation-direction: normal;
      animation-fill-mode: forwards;
      animation-duration: 7s;
    }
  }
}

.HomeSlideOut {
  @extend .Home;
  animation-name: pageSlideOut;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.21, 0.88, 0.87, 0.94);
}

@keyframes textAni {
  0% {
    font-size: 21vh;
  }
  100% {
    font-size: 20vh;
  }
}

@keyframes pageSlideOut {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
