.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  opacity: 0;
  animation: starAni 1s forwards;
  animation-delay: 2.3s;
  z-index: 0;

  .starIcon {
    filter: drop-shadow(0 0 50px #6fa8ff);
    transform: rotate(10deg);
    opacity: 0.6;
  }
}

@keyframes starAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
