.Projects {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .projectsGlowText {
    font-family: var(--font-neon);
    padding-top: 20%;
    font-size: 1.5rem;
    margin-left: 15vw;
    color: #ffc7da;
    text-shadow: 0 0 10px #ff4986, 0 0 20px #ff4986, 0 0 30px #ff4986;
  }

  .bodyContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .projectContainer {
      display: grid;
      grid-template-columns: auto auto;
      margin-top: 30px;
      gap: 30px;

      .projectBox {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        width: 250px;
        height: 280px;
        padding: 0 10px;
        box-shadow: 0 0 10px #2e1a40;
        border-radius: 30px;
        cursor: pointer;

        &:hover {
          animation-name: projectBoxAni;
          animation-duration: 0.5s;
          animation-direction: alternate;
          animation-fill-mode: forwards;
        }

        &:hover .projectTitle {
          animation-name: projectTitleAni;
          animation-duration: 0.3s;
          animation-direction: alternate;
          animation-fill-mode: forwards;
        }

        .projectTitle {
          margin-bottom: 20px;
        }

        .projectCat {
          position: absolute;
          top: 0;
          right: 0;
          margin: 20px 20px 0 0;
        }

        .projectTitle,
        .projectCat {
          text-align: center;
        }
      }
    }
  }
}

@keyframes projectBoxAni {
  100% {
    box-shadow: 0 0 10px #6922a7;
  }
}

@keyframes projectTitleAni {
  0% {
    opacity: 0;
    text-shadow: 0 0 0;
  }
  20% {
    opacity: 1;
    color: #e6c9ff;
    text-shadow: 0 0 10px #b55fff, 0 0 20px #b55fff, 0 0 30px #b55fff;
  }
  60% {
    opacity: 0;
    text-shadow: 0 0 0;
  }
  100% {
    opacity: 1;
    color: #e6c9ff;
    text-shadow: 0 0 10px #b55fff, 0 0 20px #b55fff, 0 0 30px #b55fff;
  }
}

@media only screen and (max-width: 600px) {
  .Projects {
    height: auto;
  }
  .projectContainer {
    grid-template-columns: auto !important;
  }
}
