.DachshundIcon {
  opacity: 0;
  animation: logoAppearAni 1s forwards;
  animation-delay: 2s;
}

@keyframes logoAppearAni {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
