.Workspace {
  position: relative;

  .iconContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 150px;
    margin-right: 20px;
    margin-bottom: 10px;

    svg {
      cursor: pointer;
      &:hover {
        filter: drop-shadow(0 0 5px #ffffff);
      }
      &:active {
        filter: none;
      }
    }
  }
}
